<?php

//pokemon to watch for with their pokemon numbers
watchPokemon(131); //lapras
watchPokemon(143); //snorlax
watchPokemon(150); // mewtwo

$path = "../PokemonGo-Map/pogom.db";

$twilioSid = "TWILIO ACCOUNT";
$twilioAuth = "TWILIO SECRET";
$twilioFrom = "TWILIO PHONE";
$notify[1] = "19999999999"; //who to notify, add more recipients in array

$gmaps = ""; //gmap api key
